html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
}

h1 {
  font-size: 6.4rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 4.8rem;
  font-weight: 800;
  margin: 0;
}

p {
  font-size: 2rem;
  margin: 0;
}

button {
  background-color: #f84646;
  color: white;
  font-weight: 800;
  padding: 0.8rem 2.4rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

footer {
  padding: 6.4rem 12rem;
  background-color: #f84646;
  font-size: 1.6rem;
  color: #fff;
}

footer > section {
  display: flex;
  justify-content: center;
}

footer > section > ul > li {
  list-style: none;
  margin-bottom: 1.6rem;
}

footer > section > ul > li:last-child {
  margin-bottom: 0;
}

#menu {
  font-size: 1.4rem;
  float: right;
}

#menu > ul {
  padding: 0;
}

#menu > ul > li {
  display: inline;
  margin: 0 4rem 0 0;
}

#menu > ul > li:last-of-type {
  margin: 0 4.8rem 0 0;
}

#menu > ul > li > a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#presentation-container {
  padding: 4rem 12rem;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

#blog > article {
  display: flex;
  margin-top: 12rem;
  text-align: left;
}

#blog > article:first-child {
  margin-top: 0;
}

#blog > article > div {
  margin-right: 4.8rem;
}

#blog > article > img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

#blog > article > .article-detail > p {
  margin-top: 4rem;
}

#blog > article > .article-detail > button {
  margin-top: 4.8rem;
}

#blog > article:nth-child(even) {
  flex-direction: row-reverse;
}

#blog > article:nth-child(even) > div {
  margin-left: 4.8rem;
  margin-right: 0;
}

.presetation {
  max-width: 66.5rem;
  position: relative;
  top: calc(50% - 13.7rem);
}

.presetation-description {
  margin-top: 2rem;
}

.container {
  padding: 6.4rem 12rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container-description {
  margin-top: 0.8rem;
}

.contact-button {
  font-size: 2.4rem;
  padding: 2.4rem 4rem;
  margin-top: 3.2rem;
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
}

.container-button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.qualities {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  margin-top: 6.4rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.qualities > img {
  margin: 0 4rem;
}

.background-red {
  background-color: #f84646;
  color: #fff;
}

.background-gradient {
  background: linear-gradient(180deg, #fff, #d5d5d5);
}

.footer-list-title {
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 16rem;
}

.footer-copyright > div > a {
  margin-right: 1.6rem;
  text-decoration: none;
}

.footer-copyright > div > a:last-child {
  margin-right: 0;
}
