html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
}

h1 {
  font-size: 6.4rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 4.8rem;
  font-weight: 800;
  margin: 0;
}

p {
  font-size: 2rem;
  margin: 0;
}

button {
  background-color: #f84646;
  color: white;
  font-weight: 800;
  padding: 0.8rem 2.4rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#menu {
  font-size: 1.4rem;
  float: right;
}

#menu > ul {
  padding: 0;
}

#menu > ul > li {
  display: inline;
  margin: 0 4rem 0 0;
}

#menu > ul > li:last-of-type {
  margin: 0 4.8rem 0 0;
}

#menu > ul > li > a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#presentation-container {
  padding: 4rem 12rem;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.presetation {
  max-width: 66.5rem;
  position: relative;
  top: calc(50% - 13.7rem);
}

.presetation-description {
  margin-top: 2rem;
}

.container {
  padding: 6.4rem 12rem;
  text-align: center;
}

.container-bg {
  background: linear-gradient(180deg, #fff, #d5d5d5);
}

.contact-title {
  margin-top: 0.8rem;
}

.contact-message {
  margin-top: 2.4rem;
}

.contact-button {
  font-size: 2.4rem;
  padding: 2.4rem 4rem;
  margin-top: 3.2rem;
}
